* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @import url("https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Roboto&display=swap");
  font-family: "Roboto", sans-serif;
}
body {
  height: 100vh;
  background-color: rgb(8, 146, 146);
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
gap: 10rem;
  border: 1px solid rgb(92, 30, 30);
  align-items: center;
}
.container img{
  width: 28rem;
  border-radius: 1rem;
}
.calculator{
  border-radius: 1rem;
background-color: beige;
padding: 2rem;
text-align: center;
}
p,h3{
  margin: 1rem 0 1rem 0;
  line-height: 1.5;

}
button{
  margin-top: 1rem;
}
/* Resetting default input styles */
input {
  box-sizing: border-box; /* Ensures that padding and border are included in the width */
  width: 70%; /* Adjust as needed */
  padding: 10px; /* Adjust as needed */
  border: 2px solid #ccc; /* Border color */
  margin: 1rem 0 1rem 0;
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Adjust as needed */
  outline: none; /* Removes the default focus outline */
}

/* Styling for when input is focused */
input:focus {
  border-color: #007bff; /* Change border color when input is focused */
}

/* Styling for placeholder text */
input::placeholder {
  color: #999; /* Adjust placeholder text color */
}

/* Styling for disabled input */
input:disabled {
  background-color: #f4f4f4; /* Adjust background color for disabled input */
  cursor: not-allowed; /* Change cursor style for disabled input */
}
.navbar{
  display: flex;
  justify-content: space-evenly;
}

